
<div class="panel panel-default"
	style="font-weight: 400; min-height: 175px; margin-bottom: 0px; padding-bottom: 0px;">
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div ng-hide="$state.current.name.indexOf('app-edit') == 0">
		<p style="font-size: 18px; color: mediumseagreen; margin: 0px;"
			class="ng-binding">New App</p>
		<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;"
			class="ng-binding">Add new App</p>
		</div>
		<div ng-show="$state.current.name.indexOf('app-edit') == 0">
		<p style="font-size: 18px; color: mediumseagreen; margin: 0px;"
			class="ng-binding">{{app.name}}</p>
		<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;"
			class="ng-binding">{{app.description}}</p>
		</div>
	</div>
	<div class="panel-body">
		<ul class="nav nav-tabs" role="tablist" ng-show="$state.current.name.indexOf('app-edit') == 0">
			<li role="presentation"
				ng-class="{'active':$state.current.name == 'app-edit'}"><a
				ui-sref="app-edit" data-target="#dummy" aria-controls="home"
				role="tab" data-toggle="tab">Details</a></li>
			<li role="presentation"
				ng-class="{'active':$state.current.name.indexOf('app-edit.keys') == 0}"><a
				ui-sref="app-edit.keys" data-target="#dummy"
				aria-controls="messages" role="tab" data-toggle="tab">Keys and
					Access Tokens</a></li>
		</ul>
		<div style="padding: 15px" ui-view>

			<div class="form-group">
				<label for="name">Name</label> <input type="input"
					class="form-control" id="name" ng-model="app.name"
					placeholder="App Name">
			</div>
			<div class="form-group">
				<label for="firstName">Description</label> <input type="input"
					class="form-control" id="description" ng-model="app.description"
					placeholder="Description">
			</div>
			<div class="form-group">
				<label for="firstName">Callback URL</label> <input type="input"
					class="form-control" id="callbackURL" ng-model="app.callbackURL"
					placeholder="Callback URL">
			</div>
			<button type="submit" ng-click="appSave()" class="btn btn-vecchio" ng-bind="$state.current.data.saveButton">Save</button>
		</div>
	</div>
</div>
