
<div class="panel panel-default"
	style="font-weight: 400; min-height: 175px; margin-bottom: 0px; padding-bottom: 0px">
	<div class="panel-title"
		style="padding: 10px; border-bottom-color: rgb(217, 217, 217); border-bottom-style: solid; border-bottom-width: thin;">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<p style="font-size: 18px; color: #FF874B; margin: 0px;"
					class="ng-binding">Dashboard</p>
				<p style="font-size: 14px; color: rgb(182, 182, 182); margin: 0px;"
					class="ng-binding">Acesss using Viglet Vecchio</p>

			</div>
		</div>
	</div>
	<div class="panel-body" style="padding: 0px;">
		<div ng-controller="lineChartCtrl">
			<nvd3 options="options" data="data"></nvd3>
		</div>
	</div>
</div>
